/*---------------------------------------- ELEMENT PRINCIPAUX---------------------------*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(29, 29, 29); /* Fond noir */
    color: #f7f7f7; /* Texte blanc cassé */
    font-family: 'Poiret One', serif; /* Typographie principale */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Conteneur principal */
.mainLoginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Titre principal */
.mainLoginTitle {
    font-size: 8vmin;
    font-weight: bold;
    color: #f7f7f7;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

/* Cadre autour du texte et des boutons */
.border-box {
    border: 2px solid #f7f7f7;
    padding: 30px;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Texte Welcome */
.welcome-text {
    font-size: 4vmin;
    font-weight: bold;
    margin: 0;
}

/* Conteneur des boutons */
.button-container {
    display: flex;
    gap: 20px;
	width: 100%;
}

/* Boutons */
.loginButton {
	width: 100%;
    background-color: transparent;
    font-family: 'Poiret One', serif;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.loginButton:hover {
    background-color: #f7f7f7;
    color: #000;
    transform: scale(1.1);
}

/* Formulaire caché par défaut */
.signup-form
{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Champs du formulaire */
.signup-form input {
    padding: 10px;
    border: 1px solid #f7f7f7;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Poiret One', serif;
    font-size: 1rem;
    text-align: center;
}


.login-form
{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Champs du formulaire */
.login-form input {
    padding: 10px;
    border: 1px solid #f7f7f7;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Poiret One', serif;
    font-size: 1rem;
    text-align: center;
}



/* Bouton de soumission */
.submitButton {
	margin-top: 10px;
    background-color: transparent;
    font-family: 'Poiret One', serif;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
	border-radius: 25px;
    transition: 0.3s ease;
	width: 75%;
}

.submitButton:hover {
    background-color: #f7f7f7;
    color: #000;
}

.ApiLoginButton	{
	margin-top: 10px;
	margin-right: 10px;
    background-color: #f7f7f7;
    font-family: 'Poiret One', serif;
    color: #000;
    border: 6px double #000000;
    padding: 10px;
    font-size: 1rem;
	border-radius: 25%;
    transition: 0.3s ease;

	width: 8%;
	aspect-ratio: 1 / 1;


	position: absolute;
    top: 0;
    right: 0;
}

.ApiLoginButton:hover	{
    transform: scale(1.1);
}