

/*---------------------------------------- ELEMENT PRINCIPAUX---------------------------*/

html, body {
    margin: 0; /* Supprime les marges par défaut du navigateur */
    padding: 0; /* Supprime les espacements internes par défaut */
    height: 100%; /* Fait en sorte que html et body occupent toute la hauteur de la fenêtre */
    overflow: hidden; /* Désactive les barres de défilement */
}

.mainPage, .bottomPage
{
    width: 100%; /* Fait occuper à l'élément toute la largeur disponible */
    height: 100%; /* Fait occuper à l'élément toute la hauteur disponible */
    display: flex; /* Active le modèle flexbox pour l'élément */
    justify-content: center; /* Centre horizontalement le contenu interne *(donc tout a l'interieur comme main title)*/
    align-items: center; /* Centre verticalement le contenu interne */
	flex-direction: column;  /* Aligne les éléments en colonne pour eviter que le button play soit a droite du titre */
	background-color: rgb(29, 29, 29); /* Définit une couleur de fond NOIR  */
	position: relative; /*Comme ca la fleche dans .bottomPage ne reste pas en haut aussi sur .mainPage*/

}
/*---------NOTIF---------*/
#notif-box {
    position: fixed;
    top: 20px;
    background: #000000;
    color: white;
    padding: 10px 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
	border: 2px #444;



    /* Animation */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
/*----------------------*/
/*----- MENU TOOLS ------*/
.smallerTitle
{
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #f7f7f7; /* Définit une couleur de title en blanc casse (optionnel) */
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
	size: 100%;
}

.simpleText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', serif;
    color: #f7f7f7;
    font-weight: bold;
    letter-spacing: 1px; /* Resserre l'espacement des lettres */
    size: 75%;
    border-bottom: 2px solid #f7f7f7; /* Ajoute une ligne droite à droite du texte */
    padding-right: 10px; /* Ajoute un petit espace entre le texte et la ligne */
}
/* friend menu things */
.friendMenu {
    position: fixed;  /* Permet de garder le menu visible en permanence */
    top: 20px;  /* Décale un peu le menu du haut */
    left: 0px;  /* Positionne le menu hors de la fenêtre à gauche */

    width: 25%;  /* Largeur du menu */

    height: calc(100% - 40px);  /* Occupe presque toute la hauteur de l'écran */
    background-color: #222;  /* Couleur de fond pour le menu */
    color: white;  /* Couleur du texte */
    padding: 20px;  /* Espacement interne */
    z-index: 1000;  /* Assure que le menu soit au-dessus des autres éléments */
    border-radius: 15px; /* Arrondir les bords */
    opacity: 0; /* Le rend invisible */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
    transform: translateX(-100%); /* Cache le panneau entièrement hors écran */
}

.friendMenu.active {
    transform: translateX(0); /* Fait glisser le panneau à l'écran */
    opacity: 1; /* Le rend visible */
}

.friendMenu.not_active {
    display: none;
}


/* Barre de recherche */
.search-bar {
    width: 80%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Liste des résultats */
.results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.results-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.results-list li:hover {
    background-color: #f7f7f7;
}




/* Style de la barre de recherche */
#searchBar {
    width: 40%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Poiret One', serif;
    color: #f7f7f7; /* Texte blanc */
    background-color: #191919; /* Fond noir */
    border: 1px solid #444; /* Bordure légèrement plus claire que le fond */
    border-radius: 5px;
    outline: none; /* Supprime la bordure par défaut lors du focus */
    transition: border-color 0.3s ease; /* Transition douce pour le focus */
    transition: width 0.5s ease;
}

/* Style au focus (quand la barre est sélectionnée) */
#searchBar:focus {
    width: 80%;
    border-color: #f7f7f7; /* Bordure blanche pour mettre en évidence */
}

/* Placeholder (texte d'exemple) */
#searchBar::placeholder {
    color: #888; /* Placeholder gris pour contraster avec le fond noir */
    opacity: 1; /* Assure que le placeholder est bien visible */
}

/* style du resultat search bar */
/* Liste des résultats */
#results {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
    width: 100%;
    padding: 0;
    margin-top: 10px;
    transition: 0.5s ease;
}

/* Élément de la liste */
#results button, #friendList button {
    font-size: 15px;
	font-weight: normal;
    font-family: 'Poiret One', serif;
    flex: 1; /* Tous les boutons prennent une part égale */
    min-width: 10%;
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid #444;
    color: #f7f7f7;
    background-color: #191919;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}


/* Effet au survol */
#results:hover button {
    flex: 0.5; /* Tous les boutons se rétrécissent légèrement */
}

#results button:hover , #friendList button:hover{
	font-weight: bolder;
    flex: 3; /* Le bouton survolé grandit */
    max-width: 50%; /* S'étend jusqu'à 80% si possible */
    color: #191919;
    background-color: #f7f7f7;
}

/* Style des éléments de liste */
#results li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: 0.2s;
    text-align: center;
    color: #888;
}

.userName
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
	font-family: 'Poiret One', serif;
	color: #f7f7f7;
    letter-spacing: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: 70%;
}

.userDetails.active {
    transform: translateX(0); /* Fait glisser le panneau à l'écran */
    opacity: 1; /* Le rend visible */
}

.userDetails.not_active {
    display: none;
}

.userDetails {
    position: fixed;  /* Permet de garder le menu visible en permanence */
    top: 20px;  /* Décale un peu le menu du haut */
    left: 0px;  /* Positionne le menu hors de la fenêtre à gauche */

    width: 100%;  /* Largeur du menu */

    height: calc(100% - 40px);  /* Occupe presque toute la hauteur de l'écran */
    background-color: #222;  /* Couleur de fond pour le menu */
    color: white;  /* Couleur du texte */
    padding: 20px;  /* Espacement interne */
    z-index: 1001;  /* Assure que le menu soit au-dessus des autres éléments */
    border-radius: 15px; /* Arrondir les bords */
    opacity: 0; /* Le rend invisible */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
    transform: translateX(-100%); /* Cache le panneau entièrement hors écran */
}
.userStats.active {
    transform: translateX(0); /* Fait glisser le panneau à l'écran */
    opacity: 1; /* Le rend visible */
}

.userStats.not_active {
    display: none;
}

.userStats {
    position: fixed;  /* Permet de garder le menu visible en permanence */
    top: 20px;  /* Décale un peu le menu du haut */
    left: 0px;  /* Positionne le menu hors de la fenêtre à gauche */

    width: 100%;  /* Largeur du menu */

    height: calc(100% - 40px);  /* Occupe presque toute la hauteur de l'écran */
    background-color: #222;  /* Couleur de fond pour le menu */
    color: white;  /* Couleur du texte */
    padding: 20px;  /* Espacement interne */
    z-index: 1002;  /* Assure que le menu soit au-dessus des autres éléments */
    border-radius: 15px; /* Arrondir les bords */
    opacity: 0; /* Le rend invisible */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
    transform: translateX(-100%); /* Cache le panneau entièrement hors écran */
}

#userStatus {
    display: inline-flex;
    align-items: center;
}

#userStatus span {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

#friend-request-list {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-between; /* Répartit l'espace de manière équilibrée */
    background-color: none; /* Pour voir où l'élément se trouve */
    padding: 10px;
}

#friend-request-list button {
    font-size: 15px;
    font-family: 'Poiret One', serif;
    flex: 1 1 calc(25% - 10px); /* Prend 25% de la largeur moins l'espace entre les éléments */
    min-width: 75px; /* Assure une largeur minimale pour éviter que les boutons deviennent trop petits */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid #444;
    color: #f7f7f7;
    background-color: #191919;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}

#friend-request-list button:hover {
	font-weight: bolder;
    color: #191919;
    background-color: #f7f7f7;
}

#friend-list {
	display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-between; /* Répartit l'espace de manière équilibrée */
    background-color: none; /* Pour voir où l'élément se trouve */
    padding: 10px;
}

#friend-list button {
    font-size: 15px;
    font-family: 'Poiret One', serif;
    flex: 1 1 calc(25% - 10px); /* Prend 25% de la largeur moins l'espace entre les éléments */
    min-width: 75px; /* Assure une largeur minimale pour éviter que les boutons deviennent trop petits */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid #444;
    color: #f7f7f7;
    background-color: #191919;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}

#friend-list button:hover {
	font-weight: bolder;
    color: #191919;
    background-color: #f7f7f7;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}


.backButton
{
	background-color: transparent; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #000000; /* Définit une couleur de title en noir (optionnel) */
	border: none; /*enleve l'effet de bordure moche de base en html*/
	

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: transform 0.3s ease, color 0.3s ease;  /* Transition pour l'effet de hover */

	position: absolute; /*sa position est la ou je lui dis qu'elle est*/
	left: 10px; /* et la je met a 10 px de la ou je veux que ce soit*/
}
/* end of friend menu things */

/*---------------------------------------- SETTING MENU ---------------------------*/

.settingsMenu {
    position: fixed;  /* Permet de garder le menu visible en permanence */
    top: 20px;  /* Décale un peu le menu du haut */
    right: 0px;  /* Positionne le menu hors de la fenêtre à droite */

	width: 25%;  /* Largeur du menu */

    height: calc(100% - 40px);  /* Occupe toute la hauteur de l'écran */
    background-color: #222;  /* Couleur de fond pour le menu */
    color: white;  /* Couleur du texte */
    padding: 20px;  /* Espacement interne */
    transform: translateX(100%); /* Cache le panneau entièrement hors écran (à droite) */
    opacity: 0; /* Le rend invisible */
    border-radius: 15px; /* Arrondir les bords */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
    z-index: 1000; /* Assure que le menu soit au-dessus des autres éléments */
}

.settingsMenu.active {
    transform: translateX(0); /* Fait glisser le panneau à l'écran */
    opacity: 1; /* Le rend visible */
}

.settingsMenu.not_active {
    display: none;
}




.settingsProfileDetails {
    position: fixed;  /* Permet de garder le menu visible en permanence */
    top: 20px;  /* Décale un peu le menu du haut */
    right: 0px;  /* Positionne le menu hors de la fenêtre à droite */

	width: 100%;  /* Largeur du menu */

    height: calc(100% - 40px);  /* Occupe toute la hauteur de l'écran */
    background-color: #222;  /* Couleur de fond pour le menu */
    color: white;  /* Couleur du texte */
    padding: 20px;  /* Espacement interne */
    transform: translateX(100%); /* Cache le panneau entièrement hors écran (à droite) */
    opacity: 0; /* Le rend invisible */
    border-radius: 15px; /* Arrondir les bords */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
    z-index: 1000; /* Assure que le menu soit au-dessus des autres éléments */
}
.image-container {
	border: 2px solid #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;

    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white; /* Default color */
    display: flex;
    align-items: center;
}

.pdp {
	cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.colorPicker {
	margin: 5px;
	-webkit-appearance: none;
    appearance: none;
    width: 25%;
	border: 2px solid #ffffff;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Effet de survol */
.colorPicker:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Effet de clic */
.colorPicker:active {
    transform: scale(0.95);
}

.settingsProfileDetails.active {
    transform: translateX(0); /* Fait glisser le panneau à l'écran */
    opacity: 1; /* Le rend visible */
}

.settingsProfileDetails.not_active {
    display: none;
}
.statsTextWrapper {
font-family: 'Poiret One', serif;
display: flex;
align-items: center; /* Align items vertically */
justify-content: space-between; /* Align items to the start (left) */
gap: 10px; /* Add some space between elements */
}

.chart-wrapper {
display: flex;
align-items: center;
justify-content: center;
}

.chartSelf {
width: 75% !important;
height: auto !important;
}
.SettingsSetting_Button
{
	display: flex;  /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement (optionnel) */

	background-color: #191919; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #ffffff; /* Définit une couleur de title en noir (optionnel) */	

	font-size: 1.2em; /* 1.2 fois la taille de la police de l'élément parent */
	border-radius: 10px;
	width: 100%;
	height: 40%;
	padding: 0;

	line-height: auto;

	border: 2px solid #ffffff;
	border-color: white;

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: 0.3s ease;  /* Transition pour l'effet de hover */

	flex-grow: 1; /* Fait en sorte que les boutons prennent toute la largeur disponible de manière égale */
    margin: 0 5px;  /* Espace entre les boutons */
	gap: 5px;
}

.SettingsSetting_Button:hover {
    transform: scale(1.1); /* Agrandit légèrement l'élément */
}


.SettingsSetting_BloodButton
{
	display: flex;  /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement (optionnel) */

	background-color: #191919; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #ffffff; /* Définit une couleur de title en noir (optionnel) */	

	font-size: 1.2em; /* 1.2 fois la taille de la police de l'élément parent */
	border-radius: 10px;
	width: 100%;
	height: 40%;
	padding: 0;

	line-height: auto;

	border: 2px solid #ffffff;
	border-color: white;

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: 0.3s ease;  /* Transition pour l'effet de hover */

	flex-grow: 1; /* Fait en sorte que les boutons prennent toute la largeur disponible de manière égale */
    margin: 0 5px;  /* Espace entre les boutons */
	gap: 5px;
}

.SettingsSetting_BloodButton:hover {
	background-color: #ff0000;
    transform: scale(1.1); /* Agrandit légèrement l'élément */
}







/*---------------------------------------- ELEMENT DE MENUPAGE---------------------------*/


/*friend BUTTON SETUP*/
.friendButton
{
	background-color: transparent; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #000000; /* Définit une couleur de title en noir (optionnel) */
	border: none; /*enleve l'effet de bordure moche de base en html*/
	

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: transform 0.3s ease, color 0.3s ease;  /* Transition pour l'effet de hover */

	position: absolute; /*sa position est la ou je lui dis qu'elle est*/
	left: 10px; /* et la je met a 10 px de la ou je veux que ce soit*/
	
}
.friendButton:hover {
    background-color: #3d3d3d; /*change la couleur de fond quand on clique */
    transform: scale(1.05); /* Agrandit légèrement l'élément */
}

.userButtonBox {
    display: flex;
    justify-content: space-between;  /* Aligne les boutons avec un espace égal entre eux */
    align-items: center;            /* Centre verticalement les boutons */
    width: 100%;                    /* Assure que la boîte occupe toute la largeur du parent */
}

/*friend BUTTON SETUP*/
.addFriendButton
{
	display: flex;  /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement (optionnel) */

	background-color: #191919; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #ffffff; /* Définit une couleur de title en noir (optionnel) */	

	font-size: 1.2em; /* 1.2 fois la taille de la police de l'élément parent */
	border-radius: 10px;
	width: 100%;
	height: 40%;
	padding: 0;

	line-height: auto;

	border: 2px solid #ffffff;
	border-color: white;

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: 0.3s ease;  /* Transition pour l'effet de hover */

	flex-grow: 1; /* Fait en sorte que les boutons prennent toute la largeur disponible de manière égale */
    margin: 0 5px;  /* Espace entre les boutons */
}


.addFriendButton:hover {
    transform: scale(1.1); /* Agrandit légèrement l'élément */
}

/*Block BUTTON SETUP*/
.blockButton
{
	display: flex;  /* Active Flexbox */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement (optionnel) */

	background-color: #191919; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #ffffff; /* Définit une couleur de title en noir (optionnel) */	

	font-size: 1.2em; /* 1.2 fois la taille de la police de l'élément parent */
	border-radius: 10px;
	width: 100%;
	height: 40%;
	padding: 0;

	line-height: auto;

	border: 2px solid #ffffff;
	border-color: white;

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: 0.3s ease;  /* Transition pour l'effet de hover */

	flex-grow: 1; /* Fait en sorte que les boutons prennent toute la largeur disponible de manière égale */
    margin: 0 5px;  /* Espace entre les boutons */
}


.blockButton:hover {
    background-color: #b30000; /*change la couleur de fond quand on clique */
    transform: scale(1.1); /* Agrandit légèrement l'élément */
}

/*friend BUTTON SETUP*/
.sendGameButton {
    background-color: #191919; /* Fond sombre */
    font-family: 'Poiret One', serif; /* Police du texte */
    color: #ffffff; /* Couleur du texte */
    font-weight: bold;
    font-size: 1.2em; /* Taille de la police */
    border-radius: 30px; /* Bordure arrondie */
    border: 2px solid #ffffff; /* Bordure blanche */
    transition: 0.3s ease; /* Transition de survol */

    width: 100%; /* Ou une largeur spécifique si tu préfères */
	height: 10%;
	
    margin: 10px auto; /* Ajoute un espace en haut et centre le bouton */
}


.sendGameButton:hover {
	color: #191919; /* Définit une couleur de title en noir (optionnel) */	
	background-color: #ffffff; /*permet d'enlever le fond blanc moche*/
    transform: scale(1.05); /* Agrandit légèrement l'élément */
}
/*Block BUTTON SETUP*/
.unblockButton
{
	display: flex;  /* Active Flexbox */
	flex-direction: column;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement (optionnel) */

	background-color: #191919; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #ffffff; /* Définit une couleur de title en noir (optionnel) */	

	font-size: 1.2em; /* 1.2 fois la taille de la police de l'élément parent */
	border-radius: 10px;
	width: 100%;
	height: 40%;
	padding: 0;

	line-height: auto;

	border: 2px solid #ffffff;

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: 0.3s ease;  /* Transition pour l'effet de hover */

	flex-grow: 1; /* Fait en sorte que les boutons prennent toute la largeur disponible de manière égale */
    margin: 0 5px;  /* Espace entre les boutons */
}


.unblockButton:hover {
	font-weight: bold;
    background-color: #008000; /*change la couleur de fond quand on clique */
    transform: scale(1.1); /* Agrandit légèrement l'élément */
}


/* CHAT BEAUTIFUL DESIGNNNNN*/
.chat_zone {
	display: flex;
	flex-direction: column;
	height: 50vh;
	border: 2px solid #000000;
}

.chat {
	scrollbar-width: thin;
    scrollbar-color: #f5f5dc transparent; /* Blanc cassé (#f5f5dc) et fond transparent */
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 5px;
	max-height: 80%;
	overflow-y: auto;
	gap: 5px;
}

.chat::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
    border-radius: 10px; /* Arrondi général */
    border: 1px solid #000; /* Bordure noire autour de la scrollbar */
    background: transparent; /* Fond invisible */
}
.chat::-webkit-scrollbar-track {
    background: transparent; /* Fond de la piste invisible */
    border-radius: 10px; /* Arrondi de la piste */
}
.chat::-webkit-scrollbar-thumb {
    background: #f5f5dc; /* Blanc cassé */
    border: 1px solid #000000; /* Bordure noire */
    border-radius: 10px; /* Bords arrondis */
}
.chat::-webkit-scrollbar-thumb:hover {
    background: #e0e0c0; /* Couleur légèrement plus foncée au survol */
}


.received-message {
    word-wrap: break-word; /* Force la coupure des mots trop longs */
    overflow-wrap: break-word; /* Assure la compatibilité avec tous les navigateurs */
    white-space: normal; /* Permet le retour à la ligne */

	border-radius: 5px 20px 20px 5px;
	padding: 2% 10%;

	font-family: 'Poiret One', serif; /* Police du texte */
	font-weight: bold;

	display: inline-block; /* Permet de réduire la taille à celle du texte */
	max-width: 80%; /* Limite la taille des messages pour ne pas dépasser toute la largeur */

	background-color: #191919;
	color: #f7f7f7;;
	align-self: flex-start;
}

.sent-message {
    word-wrap: break-word; /* Force la coupure des mots trop longs */
    overflow-wrap: break-word; /* Assure la compatibilité avec tous les navigateurs */
    white-space: normal; /* Permet le retour à la ligne */

	border-radius: 20px 5px 5px 20px;

	padding: 2% 10%;

	font-family: 'Poiret One', serif; /* Police du texte */
	font-weight: bold;

	display: inline-block; /* Permet de réduire la taille à celle du texte */
	max-width: 80%; /* Limite la taille des messages pour ne pas dépasser toute la largeur */

	background-color: #f7f7f7;
	color: #191919;
	align-self: flex-end;
}


/* Style de la barre de recherche */
#sendMessageBar {
	margin-top: 5px;
	margin-right: 10px;
	align-self: flex-end;
    width: 40%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Poiret One', serif;
    color: #f7f7f7; /* Texte blanc */
    background-color: #191919; /* Fond noir */
    border: 1px solid #444; /* Bordure légèrement plus claire que le fond */
	border-radius: 20px 5px 5px 20px;
    outline: none; /* Supprime la bordure par défaut lors du focus */
    transition: 0.3s ease; /* Transition douce pour le focus */
}

/* Style au focus (quand la barre est sélectionnée) */
#sendMessageBar:focus {
	border-radius: 20px;
    width: 60%;
    border-color: #f7f7f7; /* Bordure blanche pour mettre en évidence */
}

/* Placeholder (texte d'exemple) */
#sendMessageBar::placeholder {
    color: #888; /* Placeholder gris pour contraster avec le fond noir */
    opacity: 1; /* Assure que le placeholder est bien visible */
}

/*END OF friends BUTTON SETUP*/





/*settings BUTTON SETUP*/
.settingsButton
{
	background-color: transparent; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #000000; /* Définit une couleur de title en noir (optionnel) */
	border: none; /*enleve l'effet de bordure moche de base en html*/
	

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: transform 0.3s ease, color 0.3s ease;  /* Transition pour l'effet de hover */


	position: absolute; /*sa position est la ou je lui dis qu'elle est*/
	right: 10px; /* et la je met a 10 px de la ou je veux que ce soit*/
}

.settingsButton:hover {
    background-color: #3d3d3d; /*change la couleur de fond quand on clique */
    transform: scale(1.05); /* Agrandit légèrement l'élément */
}
/*END OF settings BUTTON SETUP*/

/*LOGOUT-BUTTON*/
#logoutButton
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/*------------*/


/*---------------------------------------- ELEMENT SECONDAIRE DE MAIN PAGE---------------------------*/
.mainTitle
{
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #f7f7f7; /* Définit une couleur de title en blanc casse (optionnel) */
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
	size: 200%;
}


/*play BUTTON SETUP*/
.playButton
{
	background-color: transparent; /*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #000000; /* Définit une couleur de title en noir (optionnel) */
	border: none; /*enleve l'effet de bordure moche de base en html*/
    border-radius: 5px; /* ajoute un effet pour smooth les bords*/

	

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: transform 0.3s ease, color 0.3s ease;  /* Transition pour l'effet de hover */
}

.playButton:hover {
    background-color: #3d3d3d; /*change la couleur de fond quand on clique */
    transform: scale(1.05); /* Agrandit légèrement l'élément */
}
/*END OF play BUTTON SETUP*/








/*---------------------------------------- ELEMENT SECONDAIRE DE GAME PAGE---------------------------*/

/*game css SETUP*/

/*MENU*/
#test
{
	overflow-y: auto;
	top:50%;
	height: 10px;
	position: absolute;
}

.GameOption:hover
{
	background-color: rgba(255, 255, 255, 0.265);
	transform: scale(1.1);
}

.GameOption
{
	display:flex;
	border: none;
	cursor: pointer;
	transition: transform 0.5s ease, opacity 0.5s ease;
	background-color: transparent;
	padding:10px;
}

.friendList
{
	opacity: 0;
    visibility: hidden;
	border-radius: 5px;
	border-color: white;
	max-height: 300px;;
	height :60vw;
	gap: 10px;
	display: flex;
    align-items: center;
    flex-direction: column;
}

#local, #online, #tournament4,#tournament8, #theTournament4, #theTournament8, #FriendTitle
{
	opacity: 0;
    visibility: hidden;
	display: none;
}

#local.active,#online.active, .friendList.active, #FriendTitle.active,#tournament4.active, #tournament8.active, #theTournament4.active, #theTournament8.active
{
	display: flex;
	opacity: 100;
    visibility:visible;
}

#GameMenu
{
	max-width: fit-content;
	display:flex;
    opacity: 1;
    visibility: visible;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
    bottom: 50%; /* Moves the menu to the middle of the bottomPage */
    left: 50%; /* Moves the menu to the center horizontally */
    transform: translate(-50%, 50%); /* Perfect centering */
	transition: transform 0.5s ease, opacity 0.5s ease;
	gap: 40px;
}

#GameMenu.inactive, #VsAi.inactive,#VsFriend.inactive, #Tournament.inactive
{
	display: none;
	opacity: 0;
    visibility: hidden;
}

#friendList
{
	left:30%;
	width:300px;
	position: relative;
}

/*GAME*/
#scoreboard {
    display: none;
    top: 10%;
	justify-content: space-between;
	width: 800px;
    max-width: 90%;
	opacity: 0;
	bottom: 20%;
	flex-wrap: wrap;
    visibility: hidden;
	transition: transform 0.5s ease, opacity 0.5s ease;/*  Animation fluide*/
	transform: scale(1.5);
	position: absolute;
}

#p1-points, #p2-points {
    color: white;
    margin: 0; /* Remove unwanted margins */
}

#TheGame
{
	display:none;
	opacity: 0;
    visibility: hidden;
	transition: transform 0.5s ease, opacity 0.5s ease;/*  Animation fluide*/
	transform: scale(1.5);
	width: 80vw;
	max-width: 1000px;
	height: 60vw;
	max-height: 500px;
	position: absolute;

}

#TheGame.active, #scoreboard.active, #ReturnButton.active, #winner.active, #Tournament.active
{
	display:flex;
	opacity: 1;
    visibility: visible;
	transform: scale(1);
}

/*WINNER_SCREEN*/
#winner
{
	align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    position: absolute; /* Permet de le placer précisément */
    top: 25%; /* Place l'élément au milieu de l'écran */
    display: none;
    opacity: 0;
    visibility: hidden;
	flex-wrap: wrap;
	transition: transform 0.5s ease, opacity 0.5s ease;/*  Animation fluide*/
	transform: scale(1.5);
	gap: 80px;
}

.returnButton
{
	display: inline-flex;
	align-items: center;
	position: absolute;
	cursor: pointer;
	flex-wrap: wrap;
	border: none;
	border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
}

.returnButton:hover, #ReturnButton:hover
{
	background-color: #cccccc5a;
	transform: scale(1.05);
}

#ReturnButton
{
	display: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Animation fluide */
	background-color: transparent;
	left: 10%;
	bottom:10%;
}


#GameInvite
{
	display: none;
	align-items: center;
	transition: transform 0.5s ease, opacity 0.5s ease;
	position: absolute;
	top:50%;
	gap: 20px;
}

#GameInvite.active, #loading.active, #cant_play.active, #loading.active
{
	display: inline-flex;
}

#accept, #decline
{
	background-color: transparent;
	cursor: pointer;
	flex-wrap: wrap;
	border: none;
	border-radius: 5px;
}

#accept:hover
{
	background-color: #00ff1e36;
	transform: scale(1.05);
}

#decline:hover
{
	background-color: #ff000045;
	transform: scale(1.05);
}

#loading, #cant_play
{
	display:none;
	position: absolute;
	top:50%;
	flex-wrap: wrap;
	text-size-adjust:inherit ;
}
/*end of game css SETUP*/


.gameTitle, #cant_play
{
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #f7f7f7; /* Définit une couleur de title en blanc casse (optionnel) */

}


#theTournament8 {
	
	width: 100%; /* Ajuste selon la taille souhaitée */
	height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

#theTournament8 img {
	
    width: 100%; /* Ajuste selon la taille souhaitée */
	height: 100%;
    position: relative;
    z-index: 0;
}

#theTournament8 input {
	position: fixed;
	background-color: darkgrey;
    width: 120px;
    padding: 5px;
    text-align: center;
	z-index: 1;
}

#p1_Name { top: 10%; left: -50%; }
#p2_Name { top: 30%; left: -50%; }
#p3_Name { top: 55%; left: -50%; }
#p4_Name { top: 75%; left: -50%; }

#p5_Name { top: 10%; right: -50%; }
#p6_Name { top: 30%; right: -50%; }
#p7_Name { top: 55%; right: -50%; }
#p8_Name { top: 75%; right: -50%; }

.tournament_button {
    position: absolute;
    bottom: -25px;
}


#p1_name { top: 10%; left: 5%; }
#p2_name { top: 30%; left: 5%; }

#p3_name { top: 50%; right: 5%; }
#p4_name { top: 70%; right: 5%; }


/*TOMAINPAGE BUTTON SETUP*/
.toMainPageButton
{
	background-color: transparent;/*permet d'enlever le fond blanc moche*/
	font-family: 'Poiret One', serif;/*defini la police du texte*/
	color: #000000; /* Définit une couleur de title en noir (optionnel) */
	border: none; /*enleve l'effet de bordure moche de base en html*/

	cursor: pointer;  /* Change le curseur pour indiquer que c'est cliquable */
    transition: transform 0.3s ease, color 0.3s ease;  /* Transition pour l'effet de hover */


	position: absolute; /*sa position est la ou je lui dis qu'elle est*/
	top: 10px;
}

.toMainPageButton:hover {
    background-color: transparent; /*quand la souris passe dessus change la couleurs*/
    transform: scale(1.05); /* Agrandit légèrement l'élément */
}
/*END OF toMAINPAGE BUTTON SETUP*/







/*---------------------------------------- GOOGLE FONT UTILS---------------------------*/
.material-symbols-outlined {
	padding: 1px;

    font-size: 54px;   /* Taille de l'icône */
    color: #f0f0f0;        /* Couleur de l'icône */
}

.icon-smaller{
	padding: 1px;

    font-size: 27px;         /* Taille de l'icône */
    color: #f0f0f0;        /* Couleur de l'icône */
}
/*---------------------------------------- JAVASCRIPT UTILS---------------------------*/