{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/404.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>Page Not Found</title>
</head>
<body>
    <h1 class="mainTitle">404</h1>
    <p class="text">This page does not exist</p>
    <p><a class="buttonHome" href="{% url 'home' %}">Go Back to Homepage</a></p>
</body>
</html>
