{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FT-TRANSCENDENCE</title>
    
    <!-- Lien vers Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    
    <!-- Lien pour les icônes Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <!-- Lien vers le CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/login.css' %}">
	<script src="{% static 'web/js/login.js' %}"></script>
    
</head>
<body>
    <input type="hidden" id="csrfToken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

	<div class="mainLoginPage">

		<button class="ApiLoginButton" onclick="connectWithApi()">
			<img src="{% static 'web/images/42.svg' %}" alt="My Image">
		</button>
		
		<!-- Grand titre -->
		<h1 class="mainLoginTitle">FT-TRANSCENDENCE</h1>

		<!-- Cadre avec Welcome et les boutons -->
		<div class="border-box">
			<h2 class="welcome-text">WELCOME</h2>
			<div class="button-container">
				<button class="loginButton" onclick="showSignupForm()">Join Us</button>
				<button class="loginButton" onclick="showLoginForm()">Already Member</button>
			</div>

			<!-- Formulaire de création de compte -->
			<div id="signupForm" class="signup-form">
				<form id="signupFormElement">
					<input type="email" name="email" placeholder="Email" required>
					<input type="text" name="nickname" placeholder="Nickname" required>
					<input type="password" name="password" placeholder="Password" required>
					<input type="password" name="confirm_password" placeholder="Confirm Password" required>
					<div>
						<button type="submit" class="submitButton">Créer le compte</button>
					</div>
				</form>
			</div>		
				
			<!-- Formulaire de connexion -->
			<div id="loginForm" class="login-form" style="display: none;">
				<form id="loginFormElement">
					<input type="email" name="email" placeholder="Email" required>
					<input type="password" name="password" placeholder="Password" required>
					<div>
						<button type="submit" class="submitButton">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
